<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=IssueTracker;User ID=IssueTracker;Password=hmkI2mB96KAIatSM01vx" providerName="SqlServer" />
  </connectionStrings>
  
  <appSettings>
    <add key="ConnectionString" value="DefaultConnection" />
    <!--<add key="RecreateAuthTables" value="false" />-->
    <!--<add key="DefaultAdminUsername" value="admin" />-->
    <!--<add key="DefaultAdminPassword" value="password" /> -->
    <!--<add key="CorsEnabled" value="false"/>-->
    <!--<add key="CorsOrigins" value="*"/>-->
    <!--<add key="CorsMethods" value="GET, POST, PUT, DELETE, OPTIONS"/>-->
    <!--<add key="CorsHeaders" value="Content-Type"/>-->
    <!--<add key="CorsCreds" value="false"/>-->
    <add key="CorsEnabled" value="true"/>
    <add key="CorsHeaders" value="Content-Type, X-Requested-With, Authorization"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

</configuration>
